<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- external css link -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_book.css' %}">

    <!-- extend remixicon icon link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <!-- section -->
    <div class="section">
        <!-- Navbar sections -->
        <div class="nav">
            <div class="logo">
                <a href='/'>
                    <span>
                        Book Store
                    </span>
                </a>
            </div>
            <div class="ul">
                <a href="/">
                    <li class="li">Home</li>
    
                    </a>
                <!-- <li class="li">Add Book</li> -->
            </div>
        </div>

        <!-- main section -->
        <div class="main_section">



        </div> 
        <!-- book info Section -->
        <div class="book_info">

            <i class="ri-file-info-line"></i>
            <span>
                Book Information
            </span>
        </div>

        <!-- form section -->
        {% comment %} <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="title">
                    <input type="text" name="title" id="" placeholder="name" required>
                </label>
            </div>
        
            <div>
                <label for="author">
                    <input type="text" name="author" id="" placeholder="name" required>
                </label>
            </div>
        
        
            <div>
                <label for="description"> 
                    <input  type="text" name="description" id="" placeholder="name" required>
                </label>
            </div>
        
            <div>
                <label for="published_year">
                    <input type="text" name="published_year" id="" placeholder="name" required>
                </label>
            </div>
        
            <div>
                <button type="submit">Submit</button>
            </div>
        </form> {% endcomment %}


        <form action="" method="post" class="form">
            {% csrf_token %}
        
            <div class="title">
                <label for="book_name"></label>
                <input type="text" name="title" id="book_name" placeholder="Enter Book Title" required>
            </div>
        
            <div class="author">
                <label for="author"></label>
                <input type="text" name="author" id="author" placeholder="Enter Author Name" required>
            </div>
        
            <div class="description">
                <label for="description"></label>
                <input type="text" name="description" id="description" placeholder="Enter Description" required>
            </div>
        
            <div class="published_year">
                <label for="published_year"></label>
                <input type="number" name="published_year" id="published_year" placeholder="Enter Published Year" required min="1900">
            </div>
        
            <!-- submit button and cancel button -->
        <div class="button_div">
            <!-- submit button -->
                <button type='submit' class="button submit" id="button">
                    Submit
    
                </button>
            <!-- cancel button -->
                <a href='add_book'>
                    <p class=" cancel" id="button">
                        <!-- <i class="ri-close-circle-fill"></i> -->
                        <span>
                            Refresh
                        </span>    
                    </p>
                </a>    

        </div>
        </form>
        

        
    </div>

    <!-- Footer section -->
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2025 Book Store. All rights reserved.</p>
        </div>
    </footer>

    </div>
</body>

</html>