<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- external css file -->
    {% load static %}

    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">


</head>

<body>
    <div class="main_section">

        <!-- Navbar sections -->
        <div class="nav">
            <div class="logo">
                <a href='/'>
                <span>
                    Book Store
                </span>
            </a>
            </div>
            <div class="ul">
                <a href="/">
                <li class="li">Home</li>

                </a>

                <a href="{% url 'add_book' %}">
                    <li class="li">Add Book</li>

                </a>
            </div>
        </div>

        <!-- Main Section -->
        <div class="book_info">
            <i class="ri-file-info-line"></i>

            <span>
                Book Information
            </span>
        </div>


        <div class="card_section">
            {% for book in books %}
                <div class="card">
                <!-- edit icon and delete icon -->
                    <div class="edit_delete">
                        <a href='{% url 'update_book' pk=book.pk %}'>
                            <i class="ri-file-edit-fill icon-one"></i>
                        </a>

                        <a href=''>
                            <i class="ri-delete-bin-5-fill icon-two"></i>
                        </a>    
                    </div>
                    <p class="title">
                        {{ book.title|title }}
                    </p>
                    <p class="author_name">
                        {{ book.author }}
                    </p>
                    <!-- <img src="https://picsum.photos/200/300/?blur
                    " alt="" class="img"> -->

                    <p class="description">
                        {{ book.description }}
                    </p>

                    <p class="published_year">
                    Book Publish Date: <span class="year">
                        {{ book.published_year }}
                    </span>
                    </p>
                </div>

            {% endfor %}
        </div>

        <!-- Footer section -->
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; 2025 Book Store. All rights reserved.</p>
            </div>
        </footer>


    </div>


 

</body>

</html>